<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.draper.spring_tuscany_web.util"/>

    <context:property-placeholder location="classpath:config/api.properties"/>

    <bean class="com.draper.spring_tuscany_web.util.SMSManager">
        <property name="serverIP" value="${ronglian.serverIp}"/>
        <property name="serverPort" value="${ronglian.serverPort}"/>
        <property name="accountSid" value="${ronglian.accountSid}"/>
        <property name="accountToken" value="${ronglian.accountToken}"/>
        <property name="appId" value="${ronglian.appId}"/>
    </bean>

    <bean class="com.sendcloud.sdk.core.SendCloud" id="sendCloud">
        <property name="apiUser" value="${sendcloud.api_user}"/>
        <property name="apiKey" value="${sendcloud.api_key}"/>
    </bean>

    <bean class="com.sendcloud.sdk.builder.SendCloudBuilder">
        <property name="sendCloud" ref="sendCloud"/>
    </bean>

</beans>